# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Blink.Bot.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\SSD\RiderProjects\Blink.Bot\.idea\.idea.Blink.Bot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
